<h1>Customizing Villain</h1>

<%= form_for @villain do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :super_powers %>
  <%= f.text_field :super_powers %>
  <%= f.collection_select(:hero_id, Hero.all, :id, :name) %>
  <%= f.submit "Updated Villain" %>
<% end %>
